<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>YOOGA - Free Yoga Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
      
        <style>
            .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-block: 90px;
            }
        
            .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin-left: 105px;
            }
        
        </style>
        <body style="background-color: mistyrose;">
        
          <!-- Nav Bar Start -->
                <div class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <div class="container-fluid">
                        <a href="index.html" class="navbar-brand">VitaminSHE</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav ml-auto">
                                <a href="/" class="nav-item nav-link">Home</a>
                                <a href="healthcheck/" class="nav-item nav-link">Health Check</a>
                                <a href="food/" class="nav-item nav-link">Food</a>
                                <a href="book/" class="nav-item nav-link">Book an Appointment</a>
                                <a href="why/" class="nav-item nav-link">Why?</a>
        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Nav Bar End -->

        <div class="column">
        
        <div class="row">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Check Sources</a>
                  </div>
                </div>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Check Sources</a>
                  </div>
                </div>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Check Sources</a>
                  </div>
                </div>
        </div>
        
        <div class="row">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Check Sources</a>
              </div>
            </div>
             <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Check Sources</a>
              </div>
            </div>
             <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Check Sources</a>
              </div>
            </div>
            </div>
        
            <div class="row">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Check Sources</a>
                  </div>
                </div>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
                </div>
        
        </div>
        
        
            <table>
                <tr>
                    <td><H2>Vitamin A</H2></td>
                    <td><h2>Vitamin E</h2></td>
                </tr>
            </table>
            <div class="Vitamin_A">
                helps form and maintain healthy teeth, bones, soft tissue, mucous membranes, and skin.
            </div> 
            <div class="Vitamin_E">is an antioxidant also known as tocopherol. It helps the body form red blood cells and use vitamin K.</div>
            <table>
                <tr>
                    <td><H2>Vitamin C</H2></td>
                    <td><h2>Vitamin D</h2></td>
                </tr>
            </table>
            <div class="Vitamin_C">
                also called ascorbic acid, is an antioxidant that promotes healthy teeth and gums. It helps the body absorb iron and maintain healthy tissue.
                It is also essential for wound healing.
            </div> 
            <div class="Vitamin_D">
                is involved in calcium absorption, immune function, and protecting bone, muscle, and heart health. It occurs naturally in food and can also be produced by your body when your skin is exposed to sunlight.
            </div>
            <table>
                <tr>
                    <td><H2>Vitamin B6</H2></td>
                    <td><h2>Vitamin K</h2></td>
                </tr>
            </table>
            <div class= "Vitamin_B6">
                is also called pyridoxine. Vitamin B6 helps form red blood cells and maintain brain function. This vitamin also plays an important role in the proteins that are part of many chemical reactions in the body. The more protein you eat the more pyridoxine your body requires.
            </div>
            <div class=" Vitamin_k">
                is needed because without it, blood would not stick together (coagulate). Some studies suggest that it is important for bone health.
            </div>
            <table>
                <tr>
                    <td><h2>Vitamin B12</h2></td>
                    <td></td>
                </tr>
            </table>
            <div class="Vitmain_B12">
                like the other B vitamins, is important for metabolism. It also helps form red blood cells and maintain the central nervous system.
            </div>


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <a href="index.html" class="footer-logo">Y<span>oo</span>ga</a>
                        <h3>123 Street, New York, USA</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>info@example.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
